In [16]:
import gzip
import json
import ast
import numpy as np

def parse(path, limit):# limit+1 many reviews will get printed
    i = 0
    reviews_in_bytes = []
    file = gzip.open(path,'r')
    for line in file:
        if i > limit:
            break
        reviews_in_bytes.append(line)
        i += 1
    return reviews_in_bytes
    
        
mylist = parse('reviews_Musical_Instruments.json.gz',10**2)
reviewer_item_pair = []
reviewer_list = []
item_list = []
for review in mylist:
    byte_str = review
    dict_str = byte_str.decode("UTF-8")
    mydata = ast.literal_eval(dict_str)
    #reviewer_item_pair.append((mydata["reviewerID"],mydata["asin"]))
    reviewer_list.append(mydata["reviewerID"])
    item_list.append(mydata["asin"])
    
print(reviewer_item_pair)

[]

In [3]:
import gzip
import json
import ast

limit = 10**5 * 5
i = 0
#reviewer_list = []
#item_list = []
d = {}
s = 0
count = 0
file = gzip.open('reviews_Musical_Instruments.json.gz','r')
for line in file:
    if i > limit:
        break
    dict_str = line.decode("UTF-8")
    mydata = ast.literal_eval(dict_str)
    #reviewerid = mydata["reviewerID"]
    #itemid = mydata["asin"]
    s += mydata["overall"]
    count += 1
    i += 1
    
print(s//count)

4.0

In [4]:
d = {"key1": [10], "key2": [23]}

if "key10" not in d:
    d["key10"] = [40]
if "key1" in d:
    d["key1"].append(50)
print(d)

{'key1': [10, 50], 'key2': [23], 'key10': [40]}

In [5]:
import gzip
import json
import ast

limit = 10**2
i = 0
#reviewer_list = []
#item_list = []
d = {}
file = gzip.open('reviews_Musical_Instruments.json.gz','r')
for line in file:
    if i > limit:
        break
    dict_str = line.decode("UTF-8")
    mydata = ast.literal_eval(dict_str)
    reviewerid = mydata["reviewerID"]
    itemid = mydata["asin"]
    if reviewerid not in d:
        d[reviewerid] = [itemid]
    if reviewerid in d:
        d[reviewerid].append(itemid)
    i += 1

print(d)

{'A1YS9MDZP93857': ['0006428320', '0006428320'], 'A3TS466QBAWB9D': ['0014072149', '0014072149'], 'A3BUDYITWUSIS7': ['0041291905', '0041291905'], 'A19K10Z0D2NTZK': ['0041913574', '0041913574'], 'A14X336IB4JD89': ['0201891859', '0201891859'], 'A2HR0IL3TC4CKL': ['0577088726', '0577088726'], 'A2DHYD72O52WS5': ['0634029231', '0634029231'], 'A1MUVHT8BONL5K': ['0634029347', '0634029347', '0634029355'], 'A15GZQZWKG6KZM': ['0634029347', '0634029347'], 'A16WE7UU0QD33D': ['0634029347', '0634029347', '0634029363'], 'AXMWZYP2IROMP': ['0634029355', '0634029355'], 'A6DCKXX4659CR': ['0634029355', '0634029355'], 'A28YJZCV43ZWQW': ['0634029355', '0634029355'], 'A2I4CV4PGZCNAF': ['0634029355', '0634029355'], 'A1M7OWNI93N1Y3': ['0634029363', '0634029363'], 'A2FEDDUHQAEN97': ['0634029363', '0634029363'], 'A338HVUM4AWJY7': ['0634029363', '0634029363'], 'AKKQM6B0KI6F4': ['0634029363', '0634029363'], 'A1BX81N79C9BVT': ['0634050028', '0634050028'], 'A11ER3801T7KRP': ['0634055429', '0634055429'], 'A175UOHOVXRYMW': ['0634055534', '0634055534'], 'A2P1Z9NUJ9H1RT': ['0634055534', '0634055534'], 'A1D1S69ZMKYCCV': ['0634061801', '0634061801'], 'A7R79JLQ5Q28M': ['0634061801', '0634061801'], 'A3T7SXCKJUYXT3': ['0634061801', '0634061801'], 'A1JZM0YIYHL6JW': ['0634061801', '0634061801'], 'A372SXZ39TUWTZ': ['0634061801', '0634061801'], 'A331DOWXV50UMT': ['0634061801', '0634061801'], 'A16ZE9MJ0703UB': ['0634061801', '0634061801'], 'A3DM7ADJV144TZ': ['0634061801', '0634061801'], 'A2FIMQIKNOHFPK': ['0634061801', '0634061801'], 'A1QVR0ZIG59ZAG': ['0634061801', '0634061801'], 'A2788UYAD532T': ['0634061801', '0634061801'], 'A1746NHDF3PF3H': ['0634065459', '0634065459'], 'A26LIKTL5KW29E': ['0739003755', '0739003755'], 'A4TE45TH7L2MW': ['0739003755', '0739003755'], 'A732DZLEGXSEQ': ['0739003755', '0739003755'], 'A142DE4DV7NKTQ': ['0739003755', '0739003755'], 'AAUUICXM1YE8L': ['0739003755', '0739003755'], 'A153V2QD4BJT1Z': ['0739003755', '0739003755'], 'A2TKRYCS1POPOA': ['0739003755', '0739003755'], 'A1IRFW13NXF08Z': ['0739003755', '0739003755'], 'A25UM6A6A4SEDT': ['0739037986', '0739037986'], 'ADM67P7K66F41': ['0739037986', '0739037986'], 'A18C8JYM2161KE': ['0739037986', '0739037986'], 'AK3MEBCSQ18LO': ['0739037986', '0739037986'], 'A307SOXS9WP4GI': ['0739040251', '0739040251'], 'ASP16LVGFITDE': ['0739040251', '0739040251'], 'A2HYLAESK4RRTI': ['0739040251', '0739040251'], 'ASEVEFG1SSYJK': ['0739040251', '0739040251'], 'AARB5F3HPXV0V': ['0739040251', '0739040251'], 'AQFYZ8N5SQ1Y7': ['0739040251', '0739040251'], 'A1Z5471UG451G9': ['0739040251', '0739040251'], 'A2PI3IIBPG2VI2': ['0739040251', '0739040251'], 'A370T379VAAP4B': ['0739040251', '0739040251'], 'A2BXUV043WWTKW': ['0739040251', '0739040251'], 'A1PXB4OVLPLT4H': ['0739040308', '0739040308'], 'A2RI4VW44924NH': ['0739040308', '0739040308'], 'A3O2TMYU7E1V81': ['0739040308', '0739040308'], 'AVBWSI19JRCPQ': ['0739040308', '0739040308'], 'A2WNDXINN9PXEL': ['0739040308', '0739040308'], 'AZY4GP1W5N5KO': ['0739040308', '0739040308'], 'A1JHCSJLJA3M21': ['0739040308', '0739040308'], 'A3FYONMMFY4VK6': ['0739040375', '0739040375'], 'A31NJVE7JDIPR2': ['0739040375', '0739040375'], 'A1HXA6YKQJ7FNT': ['0739040375', '0739040375'], 'AFA6HGI3MW3SA': ['0739040375', '0739040375'], 'A1FPATLQSFTLC9': ['0739040375', '0739040375'], 'A30TM3EBHF2C7R': ['0739040375', '0739040375'], 'A2WIO7VLFWV4YV': ['0739040375', '0739040375'], 'A2GAXE9X97WYTW': ['0739040375', '0739040375'], 'A3QJ54LWTFXBIB': ['0739040375', '0739040375'], 'A1AO3SP66Q9ZWJ': ['0739040375', '0739040375'], 'AL1HYP266NWOJ': ['0739040375', '0739040375'], 'A1R8OFZY6CYX7G': ['0739040375', '0739040375'], 'AQ46HO28ZVEL3': ['0739040375', '0739040375'], 'A1GUCW7L3QYQ33': ['0739040375', '0739040375'], 'A3TITKW06F1W0': ['0739040375', '0739040375'], 'A35DFRN89NRVU1': ['0739040375', '0739040375'], 'A1MFT8DXOQJA9L': ['0739040375', '0739040375'], 'A29MLKCAZXX7AB': ['0739040375', '0739040375'], 'A1ZMV5QSAR8V2L': ['0739040375', '0739040375'], 'A2G7DYW6ILDGKL': ['0739040375', '0739040375'], 'AVU79AEIZQL8': ['0739040375', '0739040375'], 'A2FFKX759L9RFT': ['0739040375', '0739040375'], 'A31DJ1X8OARWYG': ['0739040375', '0739040375'], 'ALLHLOG4NLA0A': ['0739040375', '0739040375'], 'A3PNCYFSZW7JQ9': ['0739040375', '0739040375'], 'A1HOMEHH9SE7X3': ['0739040375', '0739040375'], 'A3DMR234MWQYSE': ['0739040375', '0739040375'], 'AX5ZI7JZMA2SY': ['0739040375', '0739040375'], 'A1K1ZKOHP4RQTW': ['0739040375', '0739040375'], 'A1FWCIDD38DYMU': ['0739040375', '0739040375'], 'AWU110TP1HTPF': ['0739040375', '0739040375'], 'A1JQDMDHOZTYCV': ['0739040375', '0739040375'], 'A3P3QBFRD6LR3L': ['0739040375', '0739040375'], 'APR59BMJNHKHX': ['0739040375', '0739040375'], 'ALKPRBP7WIUE2': ['0739040375', '0739040375'], 'A1GK60UC3GWN0V': ['0739042726', '0739042726']}

In [4]:
# The code to set the whole table on pandas is the following:
import gzip
import json
import ast
import numpy as np
import pandas as pd

def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield eval(l)
def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')
df = getDF('reviews_Musical_Instruments.json.gz')
#df  is the whole table of data, we need to act on this
# very imp code : https://stackoverflow.com/questions/49405101/grouping-all-rows-of-a-pandas-dataframewith-many-columns-with-the-same-value-i
df = df[['reviewerID','asin']]
df1 = df.astype(str).groupby('reviewerID').agg(','.join).reset_index()
df1

                   reviewerID                                         asin
0       A0002382258OFJJ2UYNTR                                   B0002F6IVI
1       A000744229JN9C72EHIVF                                   B005PWPUW6
2       A00097363JKNBC4UZRGPX                                   B002L2QAK4
3       A00116463B7B37ZYMF04A                                   B009E3EWPI
4       A001211614UB7M3DVLGSE                                   B000LCRP14
...                       ...                                          ...
339226          AZZWPNME0GQZ2                        B001E442NW,B002BIGD0U
339227          AZZX23UGJGKTT  B00006LVEU,B003GEF0YS,B005IQGKX2,B00CMRBWSI
339228          AZZXW4PH4OEEK                                   B002RGPQJ0
339229          AZZYI1EW1WY3M                                   B000J4I9VO
339230          AZZZTAPYKI9RD                                   B00169U96Y

[339231 rows x 2 columns]