In [1]:
import gzip
import json
import ast
import numpy as np
import pandas as pd
#df = getDF('reviews_Amazon_Instant_Video.json.gz')[['reviewerID','asin']]
#df  is the whole table of data, we need to act on this
# very imp code : https://stackoverflow.com/questions/49405101/grouping-all-rows-of-a-pandas-dataframewith-many-columns-with-the-same-value-i
#df = df[['reviewerID','asin']]
#df1 = df.astype(str).groupby('asin').agg(','.join).reset_index()
#df1

In [9]:
alpha_network_data = pd.read_csv("alpha_network.csv")
alpha_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
print(alpha_network_data)

        src  Dest  Rating   Timestamp
0       430     1      10  1376539200
1      3134     1      10  1369713600
2      3026     1      10  1350014400
3      3010     1      10  1347854400
4       804     1      10  1337572800
...     ...   ...     ...         ...
24180  7604  7601      10  1364270400
24181  7601  7604      10  1364270400
24182  7604  7602      10  1364270400
24183  7602  7604      10  1364270400
24184  7604  7603     -10  1364270400

[24185 rows x 4 columns]

In [10]:
alpha_gt_data = pd.read_csv("alpha_gt.csv")
alpha_gt_data.columns = ["ID","Label"]
alpha_gt_data

       ID  Label
0     335      1
1      28      1
2     336      1
3     333      1
4     765      1
..    ...    ...
234  7503     -1
235  7540     -1
236  7542     -1
237  7543     -1
238  7544     -1

[239 rows x 2 columns]

In [11]:
amazon_network_data = pd.read_csv("amazon_network.csv")
amazon_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
print(amazon_network_data)

                   src        Dest  Rating   Timestamp
0       A1D87F6ZCVE5NK  B00813GRG4     1.0  1346976000
1        ABXLMWJIXXAIN  B000LQOCH0     4.0  1219017600
2       A395BORC6FGVXV  B000UA0QIQ     2.0  1307923200
3       A1UQRSCLF8GW1T  B006K2ZZ7K     5.0  1350777600
4        ADT0SRK1MGOEU  B006K2ZZ7K     4.0  1342051200
...                ...         ...     ...         ...
568448  A28KG5XORO54AY  B001EO7N10     5.0  1299628800
568449  A3I8AFVPEE8KI5  B003S1WTCU     2.0  1331251200
568450  A121AA1GQV751Z  B004I613EE     5.0  1329782400
568451   A3IBEVCTXKNOH  B004I613EE     5.0  1331596800
568452  A3LGQPJCZVL9UC  B001LR2CU2     5.0  1338422400

[568453 rows x 4 columns]

In [12]:
amazon_gt_data = pd.read_csv("amazon_gt.csv")
amazon_gt_data.columns = ["ID","Label"]
amazon_gt_data

                  ID  Label
0     A1J1QS7I60O018      1
1     A2V18JN5XI2GOB      1
2     A3RPL2RYFV2HVZ      1
3     A1HEI1CQHCNB0V      1
4      A7EJERNB7IK3Z      1
...              ...    ...
2593  A33WKYJSJOOZRN      1
2594   AFDNACPVKXXPZ      1
2595  A3N8KKKCPX8KZD      1
2596   AH5CQ8TKUURI7      1
2597  A1DB5QPH7WO488      1

[2598 rows x 2 columns]

In [13]:
epinions_network_data = pd.read_csv("epinions_network.csv")
epinions_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
print(epinions_network_data)

                 src        Dest  Rating   Timestamp
0         1312460676  2252443524       5  2001/01/10
1             204358  2252443524       5  2001/01/10
2             368725  2252443524       5  2001/01/10
3             277629  2252443524       5  2001/01/10
4             246386  2252443524       5  2001/01/10
...              ...         ...     ...         ...
13668098      311238      342187       5  2001/01/10
13668099      210412      342187       5  2001/01/10
13668100      351471      342187       5  2001/01/10
13668101      394639      342187       5  2001/01/10
13668102      200338      342187       4  2001/01/10

[13668103 rows x 4 columns]

In [14]:
epinions_gt_data = pd.read_csv("epinions_gt.csv")
epinions_gt_data.columns = ["ID","Label"]
epinions_gt_data

               ID  Label
0          219050     -1
1          431231     -1
2          305277     -1
3      3036450692     -1
4      5301702532     -1
...           ...    ...
10298      295491      1
10299      252420      1
10300      200118      1
10301      205639      1
10302      210284      1

[10303 rows x 2 columns]

In [15]:
otc_network_data = pd.read_csv("otc_network.csv")
otc_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
print(otc_network_data)

        src  Dest  Rating     Timestamp
0         6     5       2  1.289242e+09
1         1    15       1  1.289243e+09
2         4     3       7  1.289245e+09
3        13    16       8  1.289254e+09
4        13    10       8  1.289254e+09
...     ...   ...     ...           ...
35586  4499  1810       1  1.453612e+09
35587  2731  3901       5  1.453679e+09
35588  2731  4897       5  1.453679e+09
35589    13  1128       1  1.453680e+09
35590  1128    13       2  1.453684e+09

[35591 rows x 4 columns]

In [16]:
otc_gt_data = pd.read_csv("otc_gt.csv")
otc_gt_data.columns = ["ID","Label"]
otc_gt_data

       ID  Label
0     132      1
1    2097      1
2    1268      1
3     135      1
4     134      1
..    ...    ...
310  4996     -1
311  5109     -1
312  3193     -1
313  4587     -1
314  4746     -1

[315 rows x 2 columns]