In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
alpha_network_data = pd.read_csv("alpha_network.csv")
alpha_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
#alpha_network_data = alpha_network_data[["src", "Dest"]]
#alpha_network_data1 = alpha_network_data.astype(str).groupby("Dest").agg(','.join).reset_index()
#alpha_network_data
alpha_network_data[alpha_network_data["Timestamp"]==alpha_network_data["Timestamp"].min()]

       src  Dest  Rating   Timestamp
1275     2   402       1  1289192400
4003    10   970       8  1289192400
4004    10   271       8  1289192400
10468  113    54       4  1289192400

In [6]:
alpha_gt_data = pd.read_csv("alpha_gt.csv")
alpha_gt_data.columns = ["ID","Label"]
#alpha_gt_data

alpha_network_data = pd.read_csv("alpha_network.csv")
alpha_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
#alpha_network_data = alpha_network_data[["src", "Dest"]]
#alpha_network_data1 = alpha_network_data.astype(str).groupby("Dest").agg(','.join).reset_index()
#alpha_network_data
alpha_network_data[alpha_network_data["Timestamp"]==alpha_network_data["Timestamp"].max()]

        src  Dest  Rating   Timestamp
5381     15  3451       1  1453438800
13593  3451    98       5  1453438800

In [18]:
alpha_network_gt = alpha_network_data[alpha_network_data["src"].isin(alpha_gt_data["ID"])]
#alpha_network_gt
alpha_network_gt[alpha_network_gt["Timestamp"]==alpha_network_gt["Timestamp"].max()]

      src  Dest  Rating   Timestamp
5381   15  3451       1  1453438800

In [19]:
alpha_network_gt[alpha_network_gt["Timestamp"]==alpha_network_gt["Timestamp"].min()]

       src  Dest  Rating   Timestamp
1275     2   402       1  1289192400
4003    10   970       8  1289192400
4004    10   271       8  1289192400
10468  113    54       4  1289192400

In [ ]:
amazon_network_data = pd.read_csv("amazon_network.csv")
amazon_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
#amazon_network_data = amazon_network_data[["src", "Dest"]]
#amazon_network_data1 = amazon_network_data.astype(str).groupby("src").agg(','.join).reset_index()
#amazon_network_data
amazon_network_data[amazon_network_data["Timestamp"]==amazon_network_data["Timestamp"].min()]

In [ ]:
amazon_gt_data = pd.read_csv("amazon_gt.csv")
amazon_gt_data.columns = ["ID","Label"]
#amazon_gt_data

In [ ]:
amazon_network_data[amazon_network_data["Timestamp"]==amazon_network_data["Timestamp"].max()]

In [ ]:
amazon_network_gt = amazon_network_data[amazon_network_data["src"].isin(amazon_gt_data["ID"])]
#alpha_network_gt
amazon_network_gt[amazon_network_gt["Timestamp"]==amazon_network_gt["Timestamp"].max()]

In [ ]:
amazon_network_gt[amazon_network_gt["Timestamp"]==amazon_network_gt["Timestamp"].min()]

In [13]:
epinions_network_data = pd.read_csv("epinions_network.csv")
epinions_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
#epinions_network_data = epinions_network_data[["src", "Dest"]]
#epinions_network_data1 = epinions_network_data.astype(str).groupby("Dest").agg(','.join).reset_index()
#epinions_network_data
epinions_network_data[epinions_network_data["Timestamp"]==epinions_network_data["Timestamp"].min()]

            src    Dest  Rating Timestamp
3285224  243102  494191       5    2001/0

In [14]:
epinions_network_data[epinions_network_data["Timestamp"]==epinions_network_data["Timestamp"].max()]

                 src         Dest  Rating   Timestamp
2654134  32790122372   6811848580       5  2002/05/30
2654135  45789974404  31462363012       5  2002/05/30
2654136  32790122372   6811848580       5  2002/05/30
2654137  45789974404       235766       5  2002/05/30
2654138       350170       203078       5  2002/05/30
...              ...          ...     ...         ...
2655280       207186  44656725892       5  2002/05/30
2655281       494199       276559       5  2002/05/30
2655282       502205   6811848580       5  2002/05/30
2655283       233009  46328811396       3  2002/05/30
2655284   5425500036       204622       5  2002/05/30

[1151 rows x 4 columns]

In [23]:
epinions_gt_data = pd.read_csv("epinions_gt.csv")
epinions_gt_data.columns = ["ID","Label"]
#epinions_gt_data

In [24]:
epinions_network_gt = epinions_network_data[epinions_network_data["src"].isin(epinions_gt_data["ID"])]
#alpha_network_gt
epinions_network_gt[epinions_network_gt["Timestamp"]==epinions_network_gt["Timestamp"].max()]

                 src         Dest  Rating   Timestamp
2654134  32790122372   6811848580       5  2002/05/30
2654136  32790122372   6811848580       5  2002/05/30
2654138       350170       203078       5  2002/05/30
2654140       200396       349865       4  2002/05/30
2654141       420738   5806067588       5  2002/05/30
...              ...          ...     ...         ...
2655279       233009  46236405636       5  2002/05/30
2655280       207186  44656725892       5  2002/05/30
2655282       502205   6811848580       5  2002/05/30
2655283       233009  46328811396       3  2002/05/30
2655284   5425500036       204622       5  2002/05/30

[1040 rows x 4 columns]

In [25]:
epinions_network_gt[epinions_network_gt["Timestamp"]==epinions_network_gt["Timestamp"].min()]

            src    Dest  Rating Timestamp
3285224  243102  494191       5    2001/0

In [10]:
otc_network_data = pd.read_csv("otc_network.csv")
otc_network_data.columns=["src", "Dest", "Rating", "Timestamp"]
#otc_network_data = otc_network_data[["src", "Dest"]]
#otc_network_data1 = otc_network_data.astype(str).groupby("Dest").agg(','.join).reset_index()
#otc_network_data
otc_network_data[otc_network_data["Timestamp"]==otc_network_data["Timestamp"].min()]

   src  Dest  Rating     Timestamp
0    6     5       2  1.289242e+09

In [11]:
otc_network_data[otc_network_data["Timestamp"]==otc_network_data["Timestamp"].max()]

        src  Dest  Rating     Timestamp
35590  1128    13       2  1.453684e+09

In [20]:
otc_gt_data = pd.read_csv("otc_gt.csv")
otc_gt_data.columns = ["ID","Label"]
#otc_gt_data

In [21]:
otc_network_gt = otc_network_data[otc_network_data["src"].isin(otc_gt_data["ID"])]
#alpha_network_gt
otc_network_gt[otc_network_gt["Timestamp"]==otc_network_gt["Timestamp"].max()]

       src  Dest  Rating     Timestamp
35589   13  1128       1  1.453680e+09

In [22]:
otc_network_gt[otc_network_gt["Timestamp"]==otc_network_gt["Timestamp"].min()]

   src  Dest  Rating     Timestamp
0    6     5       2  1.289242e+09

In [3]:
Yelp_NYC = pd.read_csv('metadata_YelpNYC.txt',delimiter= '\s+', index_col=False)
Yelp_NYC.columns = ["user_id", "prod_id", "rating", "Label","date"]
Yelp_NYC
print(Yelp_NYC["date"].min(), Yelp_NYC["date"].max())

2004-10-20 2015-01-07

In [2]:
#https://stackoverflow.com/questions/21546739/load-data-from-txt-with-pandas
Yelp_NYC = pd.read_csv('metadata_YelpNYC.txt',delimiter= '\s+', index_col=False)
Yelp_NYC.columns = ["user_id", "prod_id", "rating", "Label","date"]
Yelp_NYC1 = Yelp_NYC[["user_id","Label"]]
Yelp_NYC1 = Yelp_NYC1.astype(str).groupby("user_id").agg(','.join).reset_index()
Yelp_NYC1

       user_id                Label
0         1000                    1
1        10000  1,1,1,1,1,1,1,1,1,1
2       100000                    1
3       100001                1,1,1
4       100002                    1
...        ...                  ...
160220   99995                    1
160221   99996                1,1,1
160222   99997                    1
160223   99998                  1,1
160224   99999                    1

[160225 rows x 2 columns]

In [9]:
Yelp_NYC1.iat[1,1][0]

'1'

In [11]:
benign = 0
for i in range(160225):
    if Yelp_NYC1.iat[i,1][0] == '1':
        benign += 1
benign

132154

In [4]:
Yelp_Chi_hotel = pd.read_csv('output_meta_yelpHotelData_NRYRcleaned.txt',delimiter= '\s+', index_col=False)
Yelp_Chi_hotel.columns = ["date", "review_id", "reviewer_id", "product_id","Label","?","?","?","star_rating"]
print(Yelp_Chi_hotel["date"].min(), Yelp_Chi_hotel["date"].max())

1/1/2006 9/9/2012

In [3]:
Yelp_Chi_hotel = pd.read_csv('output_meta_yelpHotelData_NRYRcleaned.txt',delimiter= '\s+', index_col=False)
Yelp_Chi_hotel.columns = ["date", "review_id", "reviewer_id", "product_id","Label","?","?","?","star_rating"]
Yelp_Chi_hotel = Yelp_Chi_hotel[["reviewer_id","Label"]]
Yelp_Chi_hotel1 = Yelp_Chi_hotel.astype(str).groupby("reviewer_id").agg(','.join).reset_index()
Yelp_Chi_hotel1

                 reviewer_id Label
0     -0avJ-EVYjNCVwh0r_irUQ     Y
1     -2N-pSWoeBa6L06_5QLrQQ     N
2     -2aZoH_YaC-1s1BFzo7GcA     Y
3     -3s52C4zL_DHRK0ULG6qtg     N
4     -6ouGOTjGYr03u5TP6Z-Iw     Y
...                      ...   ...
5020  zyEo2NRpiRhJS1pWpvaZoQ     Y
5021  zyNGr5Tlg1rK1frevXCx2g     N
5022  zyk-YPhtFZK6kkbpzEKrWw   N,N
5023  zzK05ZbEva9FGAjEFWlGFg     N
5024  zzzW81llRc2vMWX0VrTJzw     Y

[5025 rows x 2 columns]

In [13]:
benign = 0
for i in range(5025):
    if Yelp_Chi_hotel1.iat[i,1][0] == 'Y':
        benign += 1
benign

750

In [5]:
Yelp_Chi_res = pd.read_csv('output_meta_yelpResData_NRYRcleaned.txt',delimiter= '\s+', index_col=False)
Yelp_Chi_res.columns = ["date", "review_id", "reviewer_id", "product_id","Label","?","?","?","star_rating"]
print(Yelp_Chi_res["date"].min(), Yelp_Chi_res["date"].max())

1/1/2006 9/9/2012

In [4]:
Yelp_Chi_res = pd.read_csv('output_meta_yelpResData_NRYRcleaned.txt',delimiter= '\s+', index_col=False)
Yelp_Chi_res.columns = ["date", "review_id", "reviewer_id", "product_id","Label","?","?","?","star_rating"]
Yelp_Chi_res = Yelp_Chi_res[["reviewer_id","Label"]]
Yelp_Chi_res1 = Yelp_Chi_res.astype(str).groupby("reviewer_id").agg(','.join).reset_index()
Yelp_Chi_res1

                  reviewer_id                    Label
0      --1-HgcfL1vWbG-1hgn1oA                        Y
1      --AGQM8GPHljgKdnLisXgQ                        Y
2      --KQJPdrU0Md97DiOliDzw                        N
3      --KXo_HCYq9hB8NOdEUMKw                        N
4      --Qh8yKWAvIP4V4K8ZPfHA                        N
...                       ...                      ...
33959  zz1xkuwGqxdpH-JJZUYp4g                        N
33960  zz4qBQ-W2AE2g0-ePD0v-Q  N,N,N,N,N,N,N,N,N,N,N,N
33961  zz71QiP13ESB37uuzspRMA                      N,N
33962  zzGRHRDrx8H7LXFd5QFJ_w                      N,N
33963  zzmVpziv5OsjmtshptyA9Q                        N

[33964 rows x 2 columns]

In [14]:
benign = 0
for i in range(33964):
    if Yelp_Chi_res1.iat[i,1][0] == 'Y':
        benign += 1
benign

6857

In [ ]:
#https://stackoverflow.com/questions/16729574/how-to-get-a-value-from-a-cell-of-a-dataframe
Yelp_Zip = pd.read_csv('metadata_YelpZip.txt',delimiter= '\s+', index_col=False)
Yelp_Zip.columns = ["user_id", "prod_id", "rating", "Label","date"]
#Yelp_Zip
print(Yelp_Zip["date"].min(), Yelp_Zip["date"].max())